<template>
  <div>
    <p>Completed Tasks: {{todos.filter(todo => {return todo.done === true}).length}}</p>
    <p>Pending Tasks: {{todos.filter(todo => {return todo.done === false}).length}}</p>
    <todo v-on:delete-todo="deleteTodo" v-on:complete-todo="completeTodo" v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo"></todo>
  </div>
</template>

<script type = "text/javascript" >
import sweetalert from 'sweetalert'
import Todo from './Todo'

export default {
  props: ['todos'],
  components: {
    Todo
  },
  methods: {

    deleteTodo (todo) {
      
      sweetalert({
        title: 'Are you sure?',
        text: 'This Task will be permanently deleted!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonTest: 'Yes, delete it!',
        closeConfirm: false
      }).then(
        () => {
          const todoIndex = this.todos.indexOf(todo)
          this.todos.splice(todoIndex, 1)
          sweetalert('Deleted!', 'Your To-Do has been deleted', 'success')
        }
      )     
    },
    completeTodo (todo) {
      const todoIndex = this.todos.indexOf(todo)
      this.todos[todoIndex].done = true
      sweetalert('Success!', 'To-Do completed!', 'success')
    }
  }
}; </script>

<style>
  p:tasks {
    text-align: center
  }
</style>
